<nav class="nav chrome-hack">
  <ul class="inline-list">
    <li>
      <a href="http://fntsr.tw" title="About Me" target="_blank">
        <i class="fa fa-file"></i>
        <span>About Me</span>
      </a>
    </li>
    <li>
      <a href="{{ root_url }}/archives">
        <i class="fa fa-archive"></i>
        <span>Archive</span>
      </a>
    </li>
    <li>
      <a href="{{ root_url }}/atom.xml" target="_blank">
        <i class="fa fa-rss"></i>
        <span>Feeds</span>
      </a>
    </li>
  </ul>
</nav>
