.header {
  font-weight: bold;
  margin: 2.5em auto;
  padding: 0;
  width: 100%;

  a {
    border: none;
  }
}

.header .logo {
  color: #C2C2C2;
  float: left;
  margin: -1em 1em 0;
  min-height: 50px;
  text-align: left;
  width: 27em;

  h1 {
    display: block;
    font-size: 2.3em;
    margin: 0;
    a, a:visited, a:hover {
      color: $title-color;
      text-decoration: none;
    }
  }

  span.tagline {
    font-size: 0.8em;
    line-height: 1em;
  }
}
