.header {
  .nav {
    margin: 1em 0 -1em;
    text-align: right;
    vertical-align: top;

    >ul {
      display: inline-block;
      text-align: center;
    }

    li {
      line-height: 0.9em;
      margin-bottom: 1em;
      text-align: center;
      vertical-align: top;
      width: 3.5em;
    }

    a {
      color: #CFCFCF;
      text-decoration: none;

      i {
        font-size: 1.4em;
        margin-bottom: 0.1em;
      }

      span {
        display: block;
        font-size: 0.6em;
        margin-top: 0.12em;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }
    }
  }

  .nav.chrome-hack a>span {
    width: 6em;
    font-size: 1em;
    margin-left: -1.25em;
    margin-top: 0.2em;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
}

.inline-list li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
